pip install absl-py==2.1.0
pip install astunparse==1.6.3
pip install beautifulsoup4==4.12.3
pip install blinker==1.8.2
pip install cachetools==5.5.0
pip install certifi==2024.8.30
pip install charset-normalizer==3.3.2
pip install click==8.1.7
pip install Flask==3.0.3
pip install flatbuffers==24.3.25
pip install gast==0.4.0
pip install google-auth==2.35.0
pip install google-auth-oauthlib==1.0.0
pip install google-pasta==0.2.0
pip install grpcio==1.67.0
pip install gunicorn==23.0.0
pip install h5py==3.12.1
pip install idna==3.9
pip install itsdangerous==2.2.0
pip install Jinja2==3.1.4
pip install keras==2.13.1
pip install libclang==18.1.1
pip install Markdown==3.7
pip install MarkupSafe==2.1.5
pip install numpy==1.24.3
pip install oauthlib==3.2.2
pip install opt_einsum==3.4.0
pip install packaging==24.1
pip install peewee==3.17.6
pip install pillow==11.0.0
pip install protobuf==4.25.5
pip install pyasn1==0.6.1
pip install pyasn1_modules==0.4.1
pip install requests==2.32.3
pip install requests-oauthlib==2.0.0
pip install rsa==4.9
pip install six==1.16.0
pip install soupsieve==2.6
pip install tensorboard==2.13.0
pip install tensorboard-data-server==0.7.2
pip install tensorflow==2.13.1
pip install tensorflow-estimator==2.13.0
pip install termcolor==2.5.0
pip install typing_extensions==4.5.0
pip install urllib3==2.2.3
pip install Werkzeug==3.0.4
pip install wrapt==1.16.0