<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} タイトル {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='gomi.css')}}">
  <link rel="icon" href="/static/rakuraku.ico">

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">らくらく分別</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/">top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/characterlist">一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/history">履歴</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/camer">画像</a>
          </li>

        </ul>
        <form class="d-flex" role="search" action="/" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-secondary" type="submit">
            検索
          </button>
        </form>
      </div>
    </div>
  </nav>
  <h1> {% block heading %} 見出し {% endblock %} </h1>
  <br>
  {% block explanation %} 説明 {% endblock %}
  <br>
  {% block content %} 内容 {% endblock %}
  <hr>
  <div class="list-group">
  {% block link %} リンク {% endblock %}
  </div>
</body>
</html>
