{% extends "base.html" %}

{% block title %} 画像 {% endblock %}

{% block heading %} 画像で検索 {% endblock %}

{% block explanation %}
<p>画像ファイルをを選択して検索することができます</p>
{% endblock %}


{% block content %}

<form action="/camer" method="post" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="file">
    <button type="submit" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        検索
    </button>
</form>
<p>{{filename}}</p>

<h1>{{search}}</h1>
<!--
<ul>
    {% for i in result %}
        {% if i[2] == None %}
            <li>{{ i[0] }} : {{ i[1] }}</li>
        {% else %}
            <li>{{ i[0] }}[{{ i[2] }}] : {{ i[1] }}</li>
        {% endif %}
    {% endfor %}
</ul>

-->
{% endblock %}

{% block link %}
  <a href="/" class="list-group-item list-group-item-action">top画面</a>
{% endblock %}

