{% extends "base.html" %}

{% block title %} {{ _("検索履歴") }} {% endblock %}

{% block heading %} {{ _("検索履歴") }} {% endblock %}

{% block explanation %}
<p>{{ _("検索履歴です。") }}</p>
{% endblock %}


{% block content %}
<form method="post" action="/history{{lang}}" name="all_del">
  <input type="hidden" name="del_index" value="-1">
  <input type="submit" name="del" value="{{ _('すべて削除') }}">
</form>
<table border="1">
  {% for i in history[::-1] %}
  <tr>

    <td>{{ i[1] }}</td>
    <form action="/{{lang}}" name="search_form" method="post">
      <input type="hidden" name="search" value="{{ i[0] }}">
      <td>{{ i[0] }}</td>
      <td><input type="submit" value="検索"></td>
    </form>
    <form method="post" action="/history{{lang}}" name="del">
      <input type="hidden" name="del_index" value="{{loop.index0}}">
      <td><input type="submit" value="{{ _('削除') }}"></td>
    </form>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block link %}
<a href="/{{lang}}" class="list-group-item list-group-item-action">{{ _("top画面") }}</a>
{% endblock %}