{% extends "base.html" %}

{% block title %} 一覧 {% endblock %}

{% block heading  %} 一覧({{title}}) {% endblock %}

{% block explanation %}
  <p>{{title}}の一覧です</p>
{% endblock %}

{% block content %}
<table border="1">
  <tr>
    <th>ゴミ</th>
    <th>分別</th>
  </tr>

  {% for i in result %}
    <tr>
    {% if i[2] == None %}
      <td>{{ i[0] }}</td><td>{{ i[1] }}</td>
    {% else %}
      <td>{{ i[0] }}[{{ i[2] }}]</td><td>{{ i[1] }}</td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block link %}
<a href="/characterlist" class="list-group-item list-group-item-action">五十音順一覧</a>
<a href="/" class="list-group-item list-group-item-action">top画面</a>
{% endblock %}

