{% extends "base.html" %}

{% block title %} {{ _("一覧") }} {% endblock %}

{% block heading  %} {{ _("一覧") }}({{title}}) {% endblock %}

{% block explanation %}
  <p>{{title}}{{ _("の一覧です。") }}</p>
{% endblock %}

{% block content %}
<table border="1">
  <tr>
    <th>{{ _("ゴミ") }}</th>
    <th>{{ _("分別") }}</th>
  </tr>

  {% for i in result %}
    <tr>
    {% if i[2] == None %}
      <td>{{ i[0] }}</td><td>{{ i[1] }}</td>
    {% else %}
      <td>{{ i[0] }}[{{ i[2] }}]</td><td>{{ i[1] }}</td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block link %}
<a href="/characterlist{{lang}}" class="list-group-item list-group-item-action">{{ _("五十音順一覧") }}</a>
<a href="/{{lang}}" class="list-group-item list-group-item-action">{{ _("top画面") }}</a>
{% endblock %}

